@font-face {
  font-family: "Soehne";
  src: url(Soehne.ttf);
}

h1 {
  font-size: 25;
  font-weight: 500;
  margin: 0;
}

p,
a {
  font-size: 1.2rem;
  line-height: 140%;
}

a {
  color: #a6bed6;
}

hr {
  opacity: 10%;
}

html,
body {
  font-family: "Soehne", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-color: #19191a;
}

div.flex-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 25px;
  max-width: 680px;
}
