@font-face {
  font-family: "Alliance No. 1";
  src: url(alliance_1.otf);
}

@font-face {
  font-family: "Alliance No. 2";
  src: url(alliance_2.otf);
}

body {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #151719;
  display: flex;
  font-family: "Alliance No. 1", sans-serif;
  font-size: 19px;
  font-weight: 200;
  justify-content: center;
  line-height: 140%;
  margin: 0;
  min-height: 100vh;
  padding: 15px;
}

.centered-div {
  max-width: 680px;
  width: 100%;
}

hr {
  opacity: 20%;
}

h1 {
  font-family: "Alliance No. 2", sans-serif;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 1%;
}

h2 {
  font-family: "Alliance No. 2", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-family: "Alliance No. 2", sans-serif;
  font-size: 21px;
  font-weight: 500;
}

h4 {
  font-family: "Alliance No. 2", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

strong {
  font-size: 19px;
  font-weight: 400;
}

blockquote {
  opacity: 50%;
  margin-left: 0;
}

a {
  text-underline-offset: 2px;
  color: #4078c0;
}

a.nav {
  text-decoration: none;
  color: #4078c0;
}

pre {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d7d7;
  padding: 10px;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  height: auto;
}
